* {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  
  font-family: "Saira Stencil", sans-serif;
  transition: 0.5s ease;
  
}


nav.dark{
  background-color: #161616;
  
}
nav.dark a{
  color: #bfbfbf;
  
}
nav.dark button{
  background-color: #bfbfbf;
}


body.dark{
  background-color:#1c1c1c  !important;
  color: #bfbfbf;
}

nav{background-color: #bfbfbf;}


#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch svg {
  width: 1.2em;
}
.switch svg path {
  fill: rgb(48, 48, 48);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + .switch svg path {
  fill: rgb(255, 255, 255);
}





.logo{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .11em solid #2B3784; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3s steps(40, end),
    blink-caret .9s step-start infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #2B3784; }
}


#prog-lang {
  width: 100%;
}
#prog-lang ul {
  overflow-x: auto;
  flex-wrap: nowrap;
}

#prog-lang li {
  list-style: none;

  min-width: 120px;
  height: 120px;
  padding: 10px;
  margin-left: 20px;
  color: #2a3683;


  background-color:#7c88d5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#prog-lang li:hover {
  transform: scale(1.1);
}
#prog-lang li img {
  width: 50px;
}

#prog-lang ul::-webkit-scrollbar {
  height: 12px;
}

#prog-lang ul::-webkit-scrollbar-thumb {
  background: #fd5353;
  border-radius: 5px;
}

#project {
  overflow-x: hidden;
  display: block;
}

.proj ul {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  scroll-behavior:smooth;
}
li p{
 color:#2a3683;
}
.proj li {
  flex-shrink: 0;
  list-style: none;

  min-width: 250px;
  height: auto;
  padding: 8px;
  margin-left: 20px;
  background-color:#7c88d5;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proj li:hover {
  transform: scale(1.05);
}

.proj li img {
  width: 300px;
}
#project ul::-webkit-scrollbar-thumb {
  background: #fd5353;
  border-radius: 5px;
}
#project ul::-webkit-scrollbar {
  height: 12px;
}

.discription {
  margin: 50px;
}



.Call {
  list-style: none;
}
.follow li{
  margin: 20px;
  text-decoration: none;
  
}

.follow img {
  width: 40px;
}
.follow {

  list-style: none;

}



@media (width <= 1120px) {
  

  
  #home , #Experiance{
    flex-direction: column;
  }
 

  #Experience,
  .exper {
    flex-direction: column;
  }
  #Experience .img{
    width: 50%;
    margin-bottom: 30px;

    border-radius: 30px;
  }

  .card img {
    display: none;
  }
  .card{
    margin: 20px;
  }
  .card-title , .card-text {
    font-size: 10px;
  }



  #Experience div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #experience {
    width: 100%;

    overflow: hidden;
  }

  .title {
    font-size: 30px;
    margin: 20px;
  }

  #prog-lang {
    width: 95%;
  }

  #prog-lang li img {
    width: 60px;
  }

  #contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
  
  .Call li {
   
    width: 300px;
  }

  .follow img {
    width: 30px;
  }
  .follow {
    margin-left: 0px;
  }

}





/* From Uiverse.io by vinodjangid07 */ 
#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}
.switch svg {
  width: 1.2em;
}
.switch svg path {
  fill: rgb(48, 48, 48);
}
#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset, 0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255), 0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}
#checkbox:checked + .switch svg path {
  fill: rgb(255, 255, 255);
}

